<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">




<configuration>
	<!-- setting  开启二级缓存  延迟加载。。。。 -->
	
	
	
	<!-- 别名 -->
	<typeAliases>
		<package name="cn.itcast.core.bean"/>
	</typeAliases>
	
	<!-- Mapper.xml所在位置 
	<mappers>
		<package name="cn.itcast.core.dao"/>
	</mappers>
	-->

</configuration>