/* jdf-1.0.0/ pager.css Date:2015-09-15 18:39:14 */
.ui-pager{margin:15px 0}.ui-pager a,.ui-pager span{display:inline-block;display:-moz-inline-stack;*display:inline;*zoom:1;cursor:pointer;margin-right:10px;border:1px solid #f1f1f1;padding:2px 10px}.ui-pager span{border:none}.ui-pager .ui-pager-current{background-color:#f1f1f1}
